<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="partials.html::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials.html::navbar"></div>

<div class="container">
<div class="text-center"><h1>Here is post: Post #<span th:text="${post.getId()}"></span> <span th:text="${post.getTitle()}"></span></h1></div>

<div class="text-start"><p th:text="${post.getBody()}">Body will go here.</p></div>
</div>
</body>
</html>