<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials.html :: head('Welcome to Ted\'s Blogging App')">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="partials.html :: navbar"></nav>
<h1>Hi there, my name is Ted.</h1>

<h4>I turn coffee and breakfast tacos into beautiful, interactive, responsive websites.</h4>
<p>I'm a former Navy officer with engineering leadership experience, strong communication skills,
    and a diverse technical background transitioning into software development.
    I’m passionate about implementing technically-challenging, value-added projects
    while continuing to add new skills and grow mastery with my current skill set.</p>
<footer th:replace="partials.html::footer"></footer>
</body>
</html>
